@* When a form is being used to create a new object, it must have a post method *@

<form action="/items" method="post">
  <label for="description">Add a new item</label>
  <input id="description" name="description" type="text">
  <button type="submit">Submit</button>
</form>